AddDefaultCharset UTF-8

RewriteEngine on
RewriteRule ^glavnaya$ index.php [L]
RewriteRule ^glavnaya$ index.php?page=1 [L]
RewriteRule ^o-kompanii$ index.php?page=2 [L]
RewriteRule ^documenty$ index.php?page=3 [L]
RewriteRule ^kontakty$ index.php?page=4 [L]

RewriteRule ^izgotovlenie-novykh-mashin-ms-1g2$ index.php?page=10 [L]
RewriteRule ^izgotovlenie-navesnogo-oborudovaniya$ index.php?page=11 [L]
RewriteRule ^izgotovlenie-zapasnykh-chastej$ index.php?page=12 [L]
RewriteRule ^remont-zdtekhniki$ index.php?page=13 [L]
RewriteRule ^arenda-zdtekhniki$ index.php?page=14 [L]
RewriteRule ^prodazha-zdtekhniki$ index.php?page=15 [L]

ErrorDocument 404 /index.php?page=404
