.about-company {
	@include main-content();

	&_text {
		padding     : 10px 0;

		line-height : 1.3;
		text-align  : justify;
		text-indent : 25px;
	}

	.dtl {

		&_list {
			padding-left: 25px;
		}

		&_item {
			position: relative;
			margin-top: 5px;
			&:before {
				content: '-';
				position: absolute;
				top: 0;
				left: -12px;
			}
		}
	}
}
