.documents {
	@include main-content();
}

.documents-review {

	&_title {
		padding     : 10px 0;

		font-size   : $fontSize + 2px;
		font-weight : bold;
	}
}

.document-pages {
	display : inline-block;
	margin  : 10px 0;
	width   : 100%;

	&_item {
		float      : left;
		width      : 33.3%;

		text-align : center;
	}

	&_link {
		cursor  : pointer;

		&:hover {
			outline : 2px solid $yellow;
		}
	}
	&_img {
		vertical-align: bottom;
	}
}
