.main {
	@include main-content();

	&__slider.theme-bar {
		margin : 25px auto;
		width  : 500px;
		height : auto;

		border : 1px solid $lightGray;
		border-radius: 5px;
		box-shadow: 5px 5px 10px 3px #666666;
	}
}
