.rent-railway {
	@include main-content();

	&__text {
		padding     : 10px 0;

		line-height : 1.3;
		text-align  : justify;
		text-indent : 25px;
	}

	&__dtl.dtl {
		display: flex;
		padding-left: 25px;

		.dtl {
			&__v {
				margin-left: 5px;
			}
		}
	}
}
