.repair-railway {
	@include main-content();
}

.repair-list {
	margin-top : 20px;

	&__title {
		font-size : $fontSize + 2px;
		font-weight: bold;
	}

	&__short-info {
		padding     : 10px 0;

		line-height : 1.3;
		text-align  : justify;
		text-indent : 25px;
	}
}
