$mainBlock : '.sale-equipment';
$list : '.sale-list';
$description : '.description';
//----------------------------------------

$borderTable : 1px solid $black;

@mixin border-cell($padding) {
	padding : $padding;
	border  : $borderTable;
}

//----------------------------------------

#{$mainBlock} {
	@include main-content();
	//&_content-title.content-title {}
	//#{$list} {};
}

#{$list} {
	margin-top : 10px;
	&_item {
		#{$list}_title {
			font-size : $fontSize + 2px;
		}
		#{$list}_short-info {
			padding     : 10px 0;

			line-height : 1.3;
			text-align  : justify;
			text-indent : 25px;
		}
		//#{$list}_table-photo.table-photo {}
		//#{$list}_description.#{$description} {}
	}
}

#{$description} {
	margin-bottom  : 10px;
	width          : 100%;

	border         : $borderTable;
	border-spacing : 0;
	&_caption {
		margin-bottom : 5px;

		font-size     : $fontSize + 2px;
		text-align    : center;
	}
	&_head {
		background  : $middleGray;
		font-weight : bold;
		#{$description}_head-row {
			#{$description}_head-question,
			#{$description}_head-answer {
				@include border-cell(5px 10px);
			}
		}
	}

	&_body {
		#{$description}_body-row {
			#{$description}_body-label,
			#{$description}_body-value {
				@include border-cell(5px 10px);
			}
		}
	}
}
