.footer {
	display: flex;
	justify-content: space-between;
	padding : 10px 20px;

	color   : $darkGray;
}

.footer-company {

	&__dtl.dtl {
		display: flex;

		.dtl {
			&__l {
				margin-right: 5px;
			}
		}
	}
}

.footer-phones {

	&__dtl.dtl {
		display: flex;
		justify-content: flex-end;

		.dtl {
			&__l {
				margin-right: 5px;
			}
		}
	}
}
