.header__block {
	background : #081f3e;
	filter     : alpha(opacity=80);
	&._fixed {
		filter     : alpha(opacity=90);
	}
}

.main__slider.theme-bar {
	filter : progid:DXImageTransform.Microsoft.shadow(direction=120, color=#666666, strength=5);
}
